# System & Deps
/node_modules
/.pnpm-store
.DS_Store
Thumbs.db

# Build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Environment Variables
.env
.env*.local
.env.local
.env.production
.env.development
.vercel

# Security keys
*.pem
*.key

# Editor
.vscode/
.idea/

# Legacy/Misc
public/sw.js
public/workbox-*.js
public/swe-worker-*.js
