services:
  redis:
    image: redis:7-alpine
    container_name: zee-redis-dev
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data_dev:/data
    command: redis-server --appendonly yes

volumes:
  redis_data_dev:
